.testing {
    color: red;
    font-size: larger;
}

.hello {
    color: red;
  }

  #header {
      background-color: blue;
      display: flex;

  }

  #logo {
      font-size: 25px;
      font-weight: bold;
      margin: 5px;

  }

  .foodImg {
      height: 100px;
      width: 150px;
  }